IDI_ICON1	ICON "icon.ico"

0		MUSIC "Etxe  by JosSs.xm"

DAZIJI		SOUND "sound\\DAZIJI.wav"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,0,7
    PRODUCTVERSION 1,0,0,7
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "Sky_D\0"
                VALUE "FileDescription", "SmartScreenSnaper\0"
                VALUE "FileVersion", "1.0.0.7\0"
                VALUE "ProductVersion", "1.0.0.7\0"
                VALUE "LegalCopyright", "\0"
                VALUE "LegalTrademarks", "\0"
                VALUE "OriginalFilename", "SmartScreenSnaper.exe\0"
                VALUE "ProductName", "SmartScreenSnaper\0"
                VALUE "InternalName", "SmartScreenSnaper.exe\0"
           END
        END

        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END
    END